.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.notFoundText {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.button {
  margin-top: 32px;
}

@media only screen and (max-width: 768px) {
  .notFoundText {
    font-size: 32px;
  }
}
