.page {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  min-height: 100vh;
  padding: 50px 40px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: orange;
  border-radius: 200px;
  justify-content: center;
  font-size: 32px;
  
  p {
    font-weight: 700;
    font-size: 36px;
  }
}

.myVideo {
  width: 1066.66px;
  height: 600px;
}

@media (max-width: 1125px) {
  .myVideo {
    width: 100%;
    height: fit-content;
  }
}

.videoList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  width: 100%;
}

.videosList {
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 460px;
  height: fit-content;
  p {
    font-size: 20px;
  }
}

.video {
  display: block;
}

.date {
  width: fit-content;
  display: flex;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
}

.content {
  margin-bottom: 30px;
  margin-top: 20px;
}

.courseInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

.subTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1578px) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 100%;
    min-height: 100vh;
    padding: 50px 40px;
  }

  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .videoList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 100%;
  }

  .videoList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    width: 100%;
  }

  .videosList {
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;

    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 1000px) {
  .title {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: orange;
    border-radius: 200px;
    justify-content: center;
    padding-left: 20px;

    p {
      font-weight: 700;
      font-size: 28px;
    }
  }
}
@media (max-width: 480px) {
  .title {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: orange;
    border-radius: 200px;
    justify-content: center;
    padding: 20px;

    p {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
