.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video {
  height: 250px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  border: 1px solid brown;
}

@media (max-width: 720px) {
  .video {
    width: 100%;
    height: fit-content;
  }
}
