.courseCard {
  width: 400px;
  height: 955px;
  background-color: ghostwhite;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: 2px dotted black;
  }
}
.courseInfo {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: auto;
  width: 100%;
  margin-left: 15px;
  padding-top: 10px;
  padding-right: 10px;
}
.courseImg {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 180px;
}
.courseVideo {
  display: flex;
  width: 100%;
  height: 220px;
  border-left: 8px solid orangered;
}
.time {
  display: flex;
  gap: 10px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  font-size: 30px;
  word-wrap: break-word;
  padding-right: 15px;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  word-wrap: break-word;
  padding-right: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
}
.lessonsTime {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: large;
  margin-top: 20px;
  color: brown;
}
.skills {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  height: 132px;
  overflow: auto;
  scrollbar-width: thin;
  margin-left: 15px;
}

.tags {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 10px;
}

.tag {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: orange;
  height: 30px;
  border-radius: 100px;
  padding: 2px 10px 2px 10px;
}
.button {
  display: flex;
  text-decoration: none;
  width: 100%;
  justify-content: center;
}
.tagRating {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .courseCard {
    width: fit-content;
    height: 920px;
    border-radius: 20px;
    position: relative;
  }
}
